/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-position: center top;
}


.text-container {
    padding: 3rem;
}


.card {
    max-width: 450px;
    text-align: center;
    margin: 6rem auto;
    background-color: #fff;
    border-radius: 20px;

}

.hero-image {
    border-radius: 20px 20px 0px 0px;

}

h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;

}

.price {
    text-align: left;
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    text-align: center;
    margin: 1rem 0;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.plan a:hover {
    text-decoration: none;
}

.flex-item {
    margin-right: 1rem;
}



.flex-item p {
    margin: 0;
    font-weight: 500;
}



.button {
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    font-size: 16px;
    margin: 2rem 0;
    padding: .75rem;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: 1px 5px 19px 2px hsl(224, 23%, 55%);
    border: none;
}

.button:hover {
    filter: hue-rotate();
    filter: opacity(.9);
}

.button a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.cancel a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;

}

.cancel a:hover {
    color: black;
}

/*responsive design for mobile*/

@media (max-width:600px) {
    .text-container{
        padding: 1rem;
    }
    .card {
        width: 300px;
        margin: 3rem auto;

    }

    .hero-image {
        width: 300px;
    }

    h2 {
        font-size: 1rem;
        text-align: left;
    }

    .flex-item {
        margin-right: .84rem;
    }
    .cancel-section{
        margin-bottom: 1rem;
    }



}